
.gris{
    background-color: dimgray;
}


.footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding: 1em 0;
}

body{
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}