{% extends "./plantilla.html" %}

{% block title %} Gestion de Usuarios {% endblock %}

{% block body %}

        <div class="d-flex c" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Dashboard</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Calendario</a>
                    <a href="asignaturas/" class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Asignaturas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Clases</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Notas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Mensajes</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Perfil</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
            
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">¡Bienvenido a SeBuscaProfe!</h1>
                    <p>¡Te damos la bienvenida a una nueva experiencia de aprendizaje y enseñanza!
                    <br>
                    <br>
                    Descubre todas las funcionalidades y secciones más importantes para ti, accede a tus cursos mucho más fácil y conoce
                    todo el potencial en este ecosistema de aprendizaje.
                    <br>
                    <br>
                    Una Ultra Experiencia, dónde y cuándo sea.</p>
                </div>
            </div>
        </div>

{% endblock %}